@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

main h2 {
  color: dimgray;
  text-transform: uppercase;
  border-bottom: 1px solid dimgray;
  font-weight: 600;
}

small {
  text-transform: uppercase;
}

p {
  color: dimgray;
  line-height: 1.5;
}

body,
header > section,
header > section > article,
figure,
figcaption,
details > ul,
form,
main,
main > section,
main > section > article {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url(/img/pic-09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 200px) {
  img {
    width: 30%;
  }
  main {
    row-gap: 10vh;
    padding-top: 5vh;
  }
  header {
    height: 50vh;
  }
  header > section {
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.8);
    align-items: center;
    row-gap: 4vh;
  }
  header > section > ul {
    display: none;
  }
  header > section > article {
    align-items: center;
    color: white;
    row-gap: 2vh;
  }
  header article > a {
    color: whitesmoke;
    background-color: #EC523F;
    border-radius: 5px;
    padding: 1vh 2vh;
    font-weight: 400;
    font-size: 14px;
  }
  header h2 {
    border-bottom: 1px solid whitesmoke;
  }
  nav > ul {
    display: none;
  }
  .teamSkills > article, .row > article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    justify-content: center;
  }
  .teamSkills > article > p, .row > article > p {
    text-align: center;
    width: 80%;
  }
  .teamSkills aside,
  .teamSkills > section, .row > section {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
  }
  .row {
    align-items: center;
    row-gap: 5vh;
  }
  .services > section > aside:nth-child(1) {
    background-color: #1ABC9C;
  }
  .services > section > aside:nth-child(2) {
    background-color: #E67E22;
  }
  .services > section > aside:nth-child(3) {
    background-color: #3498D8;
  }
  .services > section > aside:nth-child(4) {
    background-color: #2ECC71;
  }
  .services aside {
    min-height: 50vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
  }
  .services aside p {
    text-align: center;
    color: whitesmoke;
    width: 80%;
    font-size: 18px;
  }
  .services i {
    display: none;
  }
  .services h4 {
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 1vh;
    border-bottom: 1px solid whitesmoke;
  }
  .portifolio > section {
    width: 95%;
  }
  .portifolio img {
    width: 100%;
  }
  .portifolio figcaption {
    display: none;
  }
  .teamSkills {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .teamSkills > article > p {
    font-style: italic;
    font-size: 14px;
    width: 90%;
  }
  .teamSkills aside {
    width: 90%;
  }
  .teamSkills h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: gray;
  }
  .teamSkills ul {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    width: 100%;
  }
  .teamSkills li {
    display: flex;
    width: 90%;
    background-color: gainsboro;
    height: 7vh;
  }
  .teamSkills h6 {
    background-color: #EC523F;
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .teamSkills li:first-child > h6 {
    width: 90%;
  }
  .teamSkills li:nth-child(3) > h6 {
    width: 70%;
  }
  .teamSkills small {
    color: whitesmoke;
    padding-left: 2vh;
    text-transform: uppercase;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */