@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
//Screen Sizes
$mobileScreen   : 200px;
$tabletScreen   : 600px;
$desktopScreen  : 1000px;

//Colors
$defaultColor   : rgb(236, 82, 63);
$orange         : #E67E22;
$seaGreen       : #1ABC9C;
$blue           : #3498D8;
$green          : #2ECC71;

//Font Families
$fontFamily     : "Open Sans", sans-serif;

//$defaultFontFamily