@media(min-width: $mobileScreen){
    img {
        width: 30%;
    }
    
    main {
        row-gap: 10vh;
        padding-top: 5vh;
    }

    %title {
        @include displayColumn(2vh);
        @include displayCenter;

            > p {
                text-align: center;
                width: 80%
            }

    }

    %content {
        @include displayColumn(3vh);
        align-items: center;
    }

    .row {
        align-items: center;
        row-gap: 5vh;
        > article {
            @extend %title;

        }

        > section {
            @extend %content;
        }
    }
    // services
    .services {
        
        > section {

            > aside:nth-child(1) {
                background-color: $seaGreen;
            }

            > aside:nth-child(2) {
                background-color: $orange;
            }

            > aside:nth-child(3) {
                background-color: $blue;
            }

            > aside:nth-child(4) {
                background-color: $green;
            }

        }

        aside {
            min-height: 50vh;
            width: 85%;
            @include displayColumn(3vh);
            @include displayCenter;
            color: whitesmoke;
            
            p {
                text-align: center;
                color: whitesmoke;
                width: 80%;
                font-size: 18px;
            }
            
        }

        i {
            display: none;
        }

        h4 {
            text-transform: uppercase;
            font-size: 24px;
            padding-bottom:1vh ;
            border-bottom: 1px solid whitesmoke;
        }
        
    }
    // portifolio 
    .portifolio {

        > section {
            width: 95%;
        }

        img {
            width: 100%;
        }

        figcaption {
            display: none;
        }

    }

    // team
    
    // team - gallery

    // team - skills

    .teamSkills {
        @include displayColumn(5vh);

        > article {
            @extend %title;

            > p {
                font-style: italic;
                font-size: 14px;
                width: 90%;
            }
        }

        aside {
            width: 90%;
        }

        aside,
        > section {
            @extend %content;
        }
        
        h3 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            font-style: italic;
            color: gray;
        }

        ul {
            @include displayColumn(2vh);
            align-items: center;
            width: 100%;
        }

        li {
            display: flex;
            width: 90%;
            background-color: gainsboro;
            height: 7vh;
        }

        h6 {
            background-color: $defaultColor;
            display: flex;
            align-items: center;
            width: 80%;
            height: 100%;
        }

        li:first-child > h6 {
            width: 90%;
        }

        li:nth-child(3) > h6 {
            width: 70%;
        }


        small {
            color: whitesmoke;
            padding-left: 2vh;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}